In [2]:
import pyodbc
import pandas as pd
import numpy as np

In [9]:
pip install seaborn==0.11.0

Collecting seaborn==0.11.0Note: you may need to restart the kernel to use updated packages.
  Downloading seaborn-0.11.0-py3-none-any.whl (283 kB)
Requirement already satisfied: matplotlib>=2.2 in c:\users\rita\anaconda3\lib\site-packages (from seaborn==0.11.0) (3.2.2)
Requirement already satisfied: scipy>=1.0 in c:\users\rita\anaconda3\lib\site-packages (from seaborn==0.11.0) (1.4.1)
Requirement already satisfied: numpy>=1.15 in c:\users\rita\anaconda3\lib\site-packages (from seaborn==0.11.0) (1.18.5)
Requirement already satisfied: pandas>=0.23 in c:\users\rita\anaconda3\lib\site-packages (from seaborn==0.11.0) (1.0.5)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\rita\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn==0.11.0) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\rita\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn==0.11.0) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\rita\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn==0.11.0) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\rita\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn==0.11.0) (2.4.7)

Requirement already satisfied: pytz>=2017.2 in c:\users\rita\anaconda3\lib\site-packages (from pandas>=0.23->seaborn==0.11.0) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\rita\anaconda3\lib\site-packages (from python-dateutil>=2.1->matplotlib>=2.2->seaborn==0.11.0) (1.15.0)
Installing collected packages: seaborn
  Attempting uninstall: seaborn
    Found existing installation: seaborn 0.10.1
    Uninstalling seaborn-0.10.1:
      Successfully uninstalled seaborn-0.10.1
Successfully installed seaborn-0.11.0

In [6]:
### In windows, Using a ODBC DNS (predefined connection name)
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=DUSHI-DELL\SQLEXPRESS;"
                      "Database=Fraud Detection;"
                      "Trusted_Connection=yes;")

In [7]:
### Get the train table
df_fraud = pd.read_sql("SELECT * FROM Train",cnxn)
df_fraud

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987000,0,86400,68.50,W,13926,NaN,150.0,discover,142.0,...,None,NaN,None,None,None,None,None,None,None,None
1,2987001,0,86401,29.00,W,2755,404.0,150.0,mastercard,102.0,...,None,NaN,None,None,None,None,None,None,None,None
2,2987002,0,86469,59.00,W,4663,490.0,150.0,visa,166.0,...,None,NaN,None,None,None,None,None,None,None,None
3,2987003,0,86499,50.00,W,18132,567.0,150.0,mastercard,117.0,...,None,NaN,None,None,None,None,None,None,None,None
4,2987004,0,86506,50.00,H,4497,514.0,150.0,mastercard,102.0,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590535,3577535,0,15811047,49.00,W,6550,NaN,150.0,visa,226.0,...,None,NaN,None,None,None,None,None,None,None,None
590536,3577536,0,15811049,39.50,W,10444,225.0,150.0,mastercard,224.0,...,None,NaN,None,None,None,None,None,None,None,None
590537,3577537,0,15811079,30.95,W,12037,595.0,150.0,mastercard,224.0,...,None,NaN,None,None,None,None,None,None,None,None
590538,3577538,0,15811088,117.00,W,7826,481.0,150.0,mastercard,224.0,...,None,NaN,None,None,None,None,None,None,None,None
590539,3577539,0,15811131,279.95,W,15066,170.0,150.0,mastercard,102.0,...,None,NaN,None,None,None,None,None,None,None,None

In [8]:
column_properties(df_fraud).T

NameError: name 'column_properties' is not defined